@use "../abstracts/function.scss" as fun;
@use "../abstracts/mixins.scss" as mix;
@use "../utils/vars.scss" as vars;

.alert {
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
  opacity: 0;
  visibility: hidden;
  transition: vars.$transitioDuaration;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  .close {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    right: 15px;
    top: 25px;
    text-align: center;
    line-height: 30px;
    font-size: 1.6em;
    cursor: pointer;
  }
}

@include mix.alert(success-alert, #a8f0c6);
@include mix.alert(danger-alert, #f7a7a3);
