// Primary
$primary: (
  "Red": hsl(1, 90%, 64%),
  "Blue": hsl(219, 85%, 26%),
);

// Neutral
$natural: (
  "White": hsl(0, 0%, 100%),
  "veryLightGrayishBlue": hsl(210, 60%, 98%),
  "lightGrayishBlueFirst": hsl(211, 68%, 94%),
  "lightGrayishBlueSecond": hsl(205, 33%, 90%),
  "grayishBlue": hsl(219, 14%, 63%),
  "darkGrayishBlue": hsl(219, 12%, 42%),
  "veryDarkBlue": hsl(224, 21%, 14%),
);

$transitioDuaration: 500ms;
$smallBorderRadius: 15px;
$bigBorderRadius: 30px;
