@mixin flex($jc, $al, $fd) {
  display: flex;
  justify-content: $jc;
  align-items: $al;
  flex-direction: $fd;
}

@mixin largeScreen() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin position($ps, $tp, $lf) {
  position: $ps;
  top: $tp;
  left: $lf;
}

@mixin alert($name, $bgColor) {
  $accentColor: darken($bgColor, 50);
  .#{$name} {
    background-color: #{$bgColor};
    border-left: 5px solid $accentColor;
    .close {
      border-color: $accentColor;
      color: $accentColor;
    }
  }
}
