@use "../utils/font.scss" as font;
@use "../utils/vars.scss" as vars;

html {
  font-size: 100%;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: font.$font-family;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: map-get($map: vars.$natural, $key: "lightGrayishBlueSecond");
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: map-get($map: vars.$natural, $key: "darkGrayishBlue");
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: map-get($map: vars.$natural, $key: "veryDarkBlue");
}

.overlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: vars.$transitioDuaration;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
