input,
button {
  display: block;
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
  user-select: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
